{% extends 'CodeSource/Header.html' %}
{% block content %}
<div class="jumbotron jumbotron-fluid">
<div class="container" style="text-align:center;">
<div class="row" style="font-size:40px;">
<div class="col-md-12">
<u>About Me</u>
</div>
</div>
<br/>
<div class="row" style="font-size:40px;">
<div class="col-md-12">
<table style="width:600px;font-size:20px;text-align:center;font-family:comic sans ms;" align="center" cellspacing="5px" cellpadding="5px">
<tr>
<td style="text-decoration:underline;font-size:30px;" colspan="2">Physical Details</td>
</tr>
<tr>
<td style="color:red">Name</td>
<td style="color:blue">Mr. Pavan Jain</td>
</tr>
<tr>
<td style="color:red">Date of Birth</td>
<td style="color:blue">13<sup>th</sup> November, 1996</td>
</tr>
<tr>
<td style="color:red">Gender</td>
<td style="color:blue">Male</td>
</tr>
<tr>
<td style="color:red">Mobile</td>
<td style="color:blue">+91 8349312393</td>
</tr>
<tr>
<td style="color:red">Email ID</td>
<td style="color:blue">013pavanjain@gmail.com</td>
</tr>
<tr>
<td style="text-decoration:underline;font-size:30px;" colspan="2">Guardian Details</td>
</tr>
<tr>
<td style="color:red">Father's Name</td>
<td style="color:blue">Mr. Rajesh Jain</td>
</tr>
<tr>
<td style="color:red">Mother's Name</td>
<td style="color:blue">Mrs. Rajni Jain</td>
</tr>
<tr>
<td style="text-decoration:underline;font-size:30px;" colspan="2">Educational Details</td>
</tr>
<tr>
<td style="color:red" rowspan="4">10<sup>th</sup></td>
<td style="color:blue">Board : M.P. Board</td>
</tr>
<tr>
<td style="color:blue">School : Shri Guru Nanak Sr. Se. School</td>
</tr>
<tr>
<td style="color:blue">Percentage : 88.3%</td>
</tr>
<tr>
<td style="color:blue">Year of Passing : 2013</td>
</tr>
<tr>
<td style="color:red" rowspan="4">12<sup>th</sup></td>
<td style="color:blue">Board : CBSE Board</td>
</tr>
<tr>
<td style="color:blue">School : Shri Guru Nanak Sr. Se. School</td>
</tr>
<tr>
<td style="color:blue">Percentage : 78.8%</td>
</tr>
<tr>
<td style="color:blue">Year of Passing : 2015</td>
</tr>
<tr>
<td style="color:red" rowspan="4">B.E.</td>
<td style="color:blue">University : RGPV</td>
</tr>
<tr>
<td style="color:blue">College : Oriental Institute of Science and Technology</td>
</tr>
<tr>
<td style="color:blue">CGPA : 8.97 (upto 4<sup>th</sup> sem)</td>
</tr>
<tr>
<td style="color:blue">Year of Passing : 2020</td>
</tr>
<tr>
</table>
</div>
</div>
</div>
</div>
{% endblock %}