<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<link rel="icon" href="../../static/Logo.jpg">
<title>CodeSource</title>
</head>
<body>
<style>
.nav-link{
    font-size:20px;
}
</style>
<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-info">
  <a class="navbar-brand" href="/" style="font-size:40px;"><img src="../../static/Images/Logo/Logo.png" width="40px" height="40px"> CodeSource</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/About">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/Projects">Projects</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/Videos">Videos</a>
      </li>
    </ul>
    </div>
</nav>
{% block content %}
{% endblock %}
<nav class="navbar sticky-bottom navbar-dark bg-info">
<div class="row">
<div class="col-md-4" style="color:white;">
<h2>AutumnTune</h2>
<p>This is a website where you get the best of songs and in high quality.</p>
&emsp;&emsp;<i class="fa fa-twitter"></i> Pavanjain1996<br/>
&emsp;&emsp;<i class="fa fa-instagram"></i> Pavanjain1996<br/>
&emsp;&emsp;<i class="fa fa-linkedin"></i> Pavanjain1996<br/>
</div>
<div class="col-md-4" style="color:white;">
<h2>Our Pages and Channels</h2>
<p>Subscribe our channels and like our pages.</p>
&emsp;&emsp;<a href="https://www.youtube.com/channel/UCDveEQzomP6iyMYpHlIa0gw?view_as=subscriber" style="color:white;"><i class="fa fa-youtube"> Soulful Music</i></a><br/>
&emsp;&emsp;<a href="https://www.youtube.com/channel/UCDveEQzomP6iyMYpHlIa0gw?view_as=subscriber" style="color:white;"><i class="fa fa-youtube"> Scope Programming</i></a><br/>
&emsp;&emsp;<a href="https://www.facebook.com/pjainengineering/" style="color:white;"><i class="fa fa-facebook"> Engineering Facts</i></a><br/>
&emsp;&emsp;<a href="https://www.facebook.com/Pavanjain1996/" style="color:white;"><i class="fa fa-facebook"> Programmers Page</i></a><br/>
</div>
<div class="col-md-4" style="color:white;">
<h2>Declaration</h2>
<p>This website is completely designed, developed and maintained by Pavan Jain.</p>
&emsp;&emsp;<i class="fa fa-phone"> 8349312393</i><br/>
&emsp;&emsp;<i class="fa fa-phone"> 8319615913</i><br/>
&emsp;&emsp;<i class="fa fa-envelope"> 013pavanjain@gmail.com</i><br/>
&emsp;&emsp;<i class="fa fa-envelope"> jpavan447@gmail.com</i><br/>
<p>&copy; All Rights Reserved</p>
</div>
</div>
<div>
</div>
</nav>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
</body>
</html>