{% extends 'CodeSource/Header.html' %}
{% load staticfiles %}
{% block content %}
<div class="jumbotron jumbotron-fluid">
<div class="container" style="text-align:center;">
<div class="row" style="font-size:30px;color:green;">
<div class="col-md-12">
This is a place where you get to know about me and all the details of the project that are been made by me. Also you have a video of all projects so you can see it and try something like that.
</div>
</div>
<br/>
<div class="row" style="font-size:40px;">
<div class="col-md-12">
<u>Languages Known</u>
</div>
</div>
<br/>
<div class="row"  style="font-size:40px;">
<div class="col-md-4">
<img src="{% static 'Images/C.jpg' %}" width="300px" height="200px"/>
</div>
<div class="col-md-4">
<img src="{% static 'Images/C++.jpg' %}" width="300px" height="200px"/>
</div>
<div class="col-md-4">
<img src="{% static 'Images/Java.png' %}" width="300px" height="200px"/>
</div>
</div>
<br/>
<div class="row"  style="font-size:40px;">
<div class="col-md-4">
<img src="{% static 'Images/Python.png' %}" width="300px" height="200px"/>
</div>
<div class="col-md-4">
<img src="{% static 'Images/HTML.png' %}" width="300px" height="200px"/>
</div>
<div class="col-md-4">
<img src="{% static 'Images/CSS.png' %}" width="300px" height="200px"/>
</div>
</div>
<br/>
<div class="row"  style="font-size:40px;">
<div class="col-md-4">
<img src="{% static 'Images/JavaScript.png' %}" width="300px" height="200px"/>
</div>
<div class="col-md-4">
<img src="{% static 'Images/PHP.png' %}" width="300px" height="200px"/>
</div>
<div class="col-md-4">
<img src="{% static 'Images/MySQL.png' %}" width="300px" height="200px"/>
</div>
</div>
<br/>
<div>
<div class="row" style="font-size:40px;">
<div class="col-md-12">
<u>Technologies Known</u>
</div>
</div>
<br/>
<div class="row"  style="font-size:40px;">
<div class="col-md-6">
<img src="{% static 'Images/Ruby.jpg' %}" width="400px" height="200px"/>
</div>
<div class="col-md-6">
<img src="{% static 'Images/Kotlin.png' %}" width="400px" height="200px"/>
</div>
</div>
<br/>
<br/>
<div class="row"  style="font-size:40px;">
<div class="col-md-6">
<img src="{% static 'Images/Bootstrap.jpg' %}" width="400px" height="200px"/>
</div>
<div class="col-md-6">
<img src="{% static 'Images/Django.jpg' %}" width="400px" height="200px"/>
</div>
</div>
<br/>
</div>
</div>
</div>
{% endblock %}