{% extends 'CodeSource/Header.html' %}
{% block content %}
<div class="jumbotron jumbotron-fluid">
<div class="container" style="text-align:center;">
<div class="row" style="font-size:40px;">
<div class="col-md-12" style="width:800px;font-family:comic sans ms;font-size:20px;background-color:rgb(10,150,220);padding:10px;">
<i><u>Console Development</u><i>
<ul type="square">
<li><b><u>Snake Xenzia</u></b> - A simple nokia mobile game in which snake have food to eat. If it hits a wall you die.</li>
<li><b><u>T-Rex</u></b> - A simple google offline game in which you have a bird and various hurdles come in your way you need to cross them to go forward.</li>
<li><b><u>Hangman</u></b> - A simple game in which you need to guess a word letter by letter. For correct letter it continues and for incorrect one it's one of the body part hangs. When complete body is hanged you lose else you win.</li>
</ul>
</div>
</div>
<br/>
<div class="row" style="font-size:40px;">
<div class="col-md-12" style="width:800px;font-family:comic sans ms;font-size:20px;background-color:rgb(50,180,180);padding:10px;">
<i><u>Desktop Development</u><i>
<ul type="square">
<li><b><u>Text Editor</u></b> - A fully functioned text editor like notepad which allows user to create and edit files with lot more options.</li>
<li><b><u>Audio Player</u></b> - A fully functioned audio player which supports wav format of audio and have all features of standard audio player.</li>
<li><b><u>Chat App</u></b> - A chat messenger for windows which works on IP Address and communicates between two connected computer.</li>
</ul>
</div>
</div>
<br/>
<div class="row" style="font-size:40px;">
<div class="col-md-12" style="width:800px;font-family:comic sans ms;font-size:20px;background-color:rgb(90,210,140);padding:10px;">
<i><u>Web Development</u><i>
<ul type="square">
<li><b><u>Super Market</u></b> - An online store where you can purchase household things and all the other grocery with Cash on Delivery.</li>
<li><b><u>Movie Review</u></b> - An online review system for various movies where you can get review of various movies and also you can review a movie by just registering yourself with your details.</li>
<li><b><u>E.R.P.</u></b> - A college management system for maintaining a college data of student and faculty and various other features.</li>
</ul>
</div>
</div>
<br/>
<div class="row" style="font-size:40px;">
<div class="col-md-12" style="width:800px;font-family:comic sans ms;font-size:20px;background-color:rgb(130,240,100);padding:10px;">
<i><u>Python Development</u><i>
<ul type="square">
<li><b><u>Autumn Tune</u></b> - An online song app in which you can find and enjoy songs according to yur choice simply just by registering to the app.</li>
<li><b><u>Kids Grasp</u></b> - An online kids learning website where pre nursery kids can learn alphabets in hindi and english and also numbers and symbols.</li>
<li><b><u>Account Manager</u></b> - An account credentials managing website made on Django framework of python which stores your various account details and send them via mail when required.</li>
</ul>
</div>
</div>
</div>
</div>
</div>
</div>
{% endblock %}